aside{
    background-color: #F15757;
    width: 100%;
    transition: width 350ms;
}

aside .container{
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* list style */
aside ul{
    list-style-type: none;
}

/* item list principal */
.item-nav{
    padding: 10px 10px;
    border-radius: 10px;
    cursor: pointer;
}

/* list groups create for user */
.item-nav nav{
    margin-top: 10px;
    display: none;
}

.item-nav:hover{
    background-color: rgba(0, 0, 0, 0.2);
}

/* li nav principal */
.content-item{
    display: flex;
    align-items: center;
}

.content-item h3{
    font-size: 24px;
}

.content-item h3,
.content-item p{
    margin: 0 10px;
    color: #fff;
}


.icon-nav{
    height: 32px;
}

.nav-custom{
    height: 24px;
}

/* footer aside */

.footer-aside{
    width: 100%;
}

.container-aside{
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-left:  auto;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #fff;
    cursor: pointer;
}

.container-aside img{
    width: 100%;
}

/* close aside */
.aside-close{
    width: 100px;
}

.content-item-center{
    justify-content: center;
}

.container-aside-center{
    margin: auto;
}