main header{
    padding: 25px;
    border-radius: 10px;
}

/* container header */
main header .tools-header{
    display: flex;
    justify-content: start;
    align-items: center;
}

.tools-header img{
    height: 20px;
}

/* input text and buttons */
#searchUser,
button{
    height: 38px;
}

#searchUser{
    width: 650px;
    padding-left: 35px;
    padding-right: 10px;
    border-radius: 5px 5px 0 0;
    border: none;
    border-bottom: 1px solid #333;
}

#searchUser:focus{
    border: none;
    border-bottom: 1px solid #333;
    outline: none;
}

.bttn{
    border-radius: 5px;
    width: 40px;
    margin-left: 10px;
    border: 1px solid #333;
    background-color: #fff;
    cursor: pointer;
}

.tools-user{
    position: relative;
}

/* icon search */
.tools-user .search-icon{
    position: absolute;
    top: 9px;
    left: 9px;
    height: 18px;
    pointer-events: none;
}

/* form */
form{
    width: 850px;
    margin: 40px 0;
    display: none;
}
.container-flex{
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
    width: 450px;
}

.container-flex label{
    width: 100%;
    margin-top: 10px;
}

.container-flex label input{
    padding: 10px 10px;
    width: 100%;
}

#state-form,
table tr td:nth-child(6){
    text-transform: uppercase;
}

.submit{
    display: flex;
    width: 450px;
    margin-top: 20px;
}

.bttn-form{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 80px;
    margin: auto;
    cursor: pointer;
}

.bttn-form:hover{
    background-color: #ccc;
}

/* content table */
.content-table{
    border-radius: 10px;
    background-color: #3333;
    margin-top: 10px;
    padding: 10px 20px;
}

table{
    width: 100%;
    height: 100%;
    margin: 10px 0;
}

table thead th{
    border-bottom: 1px solid #333;
    background-color: #3333;
}

table tr th,
table tr td{
    text-align: center;
}

table tr label{
    display: block;
    width: 100%;
    padding: 10px 0;
}

table tbody tr:hover{
    background-color: #3333;
    cursor: pointer;
}

table tr label,
table tr input{
    cursor: pointer;
}

table .table-id{
    width: 50px;
}

table tbody td{
    margin-top: 10px;
}

/* class error */
.invalid{
    border-color: red;
    color: red;
}