* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
main {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c0392b;
}
main button {
  padding: 16px;
  font-size: 2em;
  font-weight: bold;
  color: #ecf0f1;
  background-color: #f1c40f;
  border: 1px solid #bdc3c7;
  border-radius: 100000008px;
  cursor: pointer;
}
main button:hover {
  background-color: #f39c12;
}
